body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0;
  text-align: center;
  background: #11383C;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.movie-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

  .movie-list__item {
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    padding: 1em;
  }


    .movie-list__item:nth-of-type(odd) {
      background: #75BFC7;
    }

    .movie-list__item:nth-of-type(even) {
      background: #36AFBC;
    }

